# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Homework\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\Code\Homework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
